.rti--container * {
    box-sizing: border-box;
    /*transition: all 0.2s ease;*/
}

.rti--container {
  --color-primary: 48 61 88;
  --tw-ring-offset-width: 0px;
    --rti-bg: #fff;
    --rti-border: #ccc;
    --rti-main: #3182ce;
    --rti-radius: 2px;
    --rti-s: 0.6rem;
    --rti-tag: #E2E8F0;
    --rti-tag-remove: #e53e3e;
    --rti-tag-padding: 0.15rem 0.25rem;

    /* Container Styles */
  -webkit-box-align: center;
  align-items: center;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  min-height: 38px;
  position: relative;
  transition: all 100ms ease 0s;
  background-color: rgb(255, 255, 255);
  border-radius: 0.375rem;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  outline: 0 !important;
  box-shadow: rgb(0 0 0 / 0%) 0 0 0, rgb(0 0 0 / 0%) 0 0 0, rgb(0 0 0 / 5%) 0 1px 2px 0;
  border-color: rgb(226, 232, 240);
}

.rti--container:focus-within {
  border-color: rgb(var(--color-primary) / var(--tw-border-opacity));
  --tw-border-opacity: .4;
  box-shadow: rgb(255, 225, 225) 0 0 0 0, rgba(48, 61, 88, 0.2) 0 0 0 4px, rgba(0, 0, 0, 0.5) 0 0 0 0;
}

.rti--container:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.rti--input {
    border: 0;
    outline: 0;
    font-size: inherit;
    line-height: inherit;
    width: 50%;
  visibility: visible;
  transform: translateZ(0);
  flex: 1 1 auto;
  display: inline-grid;
  grid-area: 1 / 1 / 2 / 3;
  grid-template-columns: 0 min-content;
  margin: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  color: rgb(51, 65, 85);
  box-sizing: border-box;
}

.rti--tag {
  display: flex;
  min-width: 0;
  background-color: rgb(230, 230, 230);
  border-radius: 2px;
  margin: 2px;
  box-sizing: border-box;
}

.rti--tag button {
    background: none;
    cursor: pointer;
    line-height: inherit;
    padding: 0 var(--rti-s);

  align-items: center;
  display: flex;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box;
  background: rgb(226, 232, 240);
  border: 0 rgb(203, 213, 225);
  border-left: 1px solid rgb(203, 213, 225);
  border-radius: 0 4px 4px 0 !important;
}

.rti--tag button:hover {
  background-color: rgb(255, 189, 173);
  color: rgb(222, 53, 11);
}

.rti--tag button svg{
  display: inline-block;
  fill: currentcolor;
  line-height: 1;
  stroke: currentcolor;
  stroke-width: 0;
}

.rti--tag__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: rgb(51, 65, 85);
  font-size: 14px;
  padding: 3px 3px 3px 6px;
  box-sizing: border-box;
  background: rgb(226, 232, 240);
  border-radius: 4px 0 0 4px;
}

.rti--clear-container {
  display: flex;
  transition: color 150ms ease 0s;
  color: rgb(204, 204, 204);
  padding: 8px;
  box-sizing: border-box;
}

.rti--clear-container:hover {
  color: rgb(153, 153, 153);
}

.rti--clear {
  width: 1rem;
  height: 1rem;
}

.rti--clear svg {
  display: block;
  vertical-align: middle;
}

.rti--wrap {
  align-items: center;
  display: flex;
  flex: 1 1 0%;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  padding: 2px 8px;
  box-sizing: border-box;
}
